.background-video video {
    min-width: 100%;
    max-height: 1024px;
    z-index: -1;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    opacity: 0.5;

    position: fixed;
    top: 0;
    left: 0;

    -o-filter: blur(10px);
    filter: blur(10px);

}

.background {
    background: linear-gradient(180deg, var(--black) 0%, var(--dark-gray) 100%);
    min-height: 100vh;
    background-repeat: no-repeat;
    overflow-x: hidden;
}