.suggestion p, i {
    font-family: 'Phantom Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: var(--secondary);
    opacity: 0.7;
    margin: 0;
}

.suggestion {
    text-align: center;
    user-select: none;
}
